body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./bg.jpeg');

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#display {
  color: white;
  background-color: #108378;
  display: flex;
  width: 180px;
  font-size: 28px;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 0px 10px 0px 0px;
  overflow: hidden;
}
.calc {
  width: 250px;
  height: 320px;
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  background-color: #e9ba80;
  box-shadow: 0px 0px 10px #82582e;

  padding: 10px;
  overflow: hidden;
  border-radius: 10px;
}
.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btn {
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: 0.15s;
  background-color: #C16200;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:hover {
  transition: 0.15s;
  box-shadow: 0px 0px 2px black;
}
#add, #subtract, #multiply, #divide  {
  color: white;
  background-color: #4E0110;
}
#clear, #equal, #dot {
  color: white;
  background-color: #ad2f16;
}
#clear {
  border-radius: 10px 0px 0px 0px;
}
#divide {
  border-radius: 0px 0px 10px 0px;
}
.zero {
  border-radius: 0px 0px 0px 10px;
}
